body{
    background-color: rgb(169, 131, 204);
    margin: -8px;
}

/* header */
.container h1{
    background-color: brown;
padding: 10px;
margin: auto;
 }

.menu{
    background-color: rgb(86, 99, 38);
}

.menu-btn,button{
    background-color: cyan;
    padding: 10px;
    cursor: pointer;
    margin: 15px;
    border-radius: 5px;
}
.menu-btn:hover ,button:hover{
    background-color: darkblue;
    color: white;
}

/* End header */

.main{
    background-color: rgb(190, 34, 190);
    height: 400px;
    width: 200px;
    margin: 10px 20px;
}
.main-btn{
background-color: yellow;
padding: 10px;
    cursor: pointer;
    margin: 15px;

}