body{
    background-color: rgb(169, 131, 204);
    margin: -8px;
}

/* header */
.container h1{
    background-color: brown;
padding: 10px;
margin: auto;
 }

.menu{
    background-color: rgb(86, 99, 38);
}

.menu-btn,button{
    background-color: cyan;
    padding: 10px;
    cursor: pointer;
    margin: 15px;
    border-radius: 5px;
}
.menu-btn:hover ,button:hover{
    background-color: darkblue;
    color: white;
}

/* End header */


.thebiggestarry{
    margin: 20px;
}

.addanumber ,.enterednumber{
width: auto;
height: 30px;
} 
.demonumbers,.resultnumdemo{
    background-color:rgb(205, 190, 238);
    height: 30px;
    border-radius: 10px;
    /* padding: 5px; */
    text-align:left;
    padding: 10px;
    overflow: auto;
    width: 30%;


}