body{
    background-color: rgb(169, 131, 204);
    margin: -8px;
}

/* header */
.container h1{
    background-color: brown;
padding: 10px;
margin: auto;
 }

.menu{
    background-color: rgb(86, 99, 38);
}

.menu-btn,button{
    background-color: cyan;
    padding: 10px;
    cursor: pointer;
    margin: 15px;
    border-radius: 5px;
}
.menu-btn:hover ,button:hover{
    background-color: darkblue;
    color: white;
}

/* End header */




.removechar{
    margin: 20px;
    text-align: center;
     width: 90%;

}

.resultnumdemo{
    border: 1px solid black;
    height: 20px;
    width: 30%;
    background-color: rgb(250, 121, 0);
    border-radius: 5px;
    margin: auto;
}



