body{
    background-color: rgb(169, 131, 204);
    margin: -8px;
}

/* header */
.container h1{
    background-color: brown;
padding: 20px;
margin: auto;
 }

.menu{
    background-color: rgb(86, 99, 38);
}

.menu-btn,button{
    background-color: cyan;
    padding: 10px;
    cursor: pointer;
    margin: 15px;
    border-radius: 5px;
}
.menu-btn:hover ,button:hover{
    background-color: darkblue;
    color: white;
}

/* End header */

.about{
    margin: 20px;
}