body{
    background-color: blueviolet;
    text-align: center;
    padding: auto;
    margin: -8px;
}

.header{
    background-color: brown;
    padding: 10px;
}

.menu{
    background-color: rgb(86, 99, 38);
    padding: 10px;
}

.menu-btn{
    background-color: cyan;
    padding: 10px;
    cursor: pointer;
    margin: 15px;
}
.menu-btn:hover {
    background-color: darkblue;
    color: white;
}